<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OdooBaseURL</key>
	<string>https://www.reware-project.com</string>
	<key>OdooApiKey</key>
	<string></string>
	<key>SquareApplicationId</key>
	<string></string>
</dict>
</plist>
