<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_xero_sync_log"
              name="Xero Sync Logs"
              parent="account.menu_finance_configuration"
              action="account_xero.action_xero_sync_log"
              sequence="95"
              groups="account.group_account_manager"/>

</odoo>
